
/* ==========
   HBC STYLES
   ========== */


pre {
  font-family: monospace;
}


#gifts a {
  display:  block;
  padding:  4em;
}


.path-happy-birthday-carrie-2010 a,
.path-happy-birthday-carrie-2010 a:link,
.path-happy-birthday-carrie-2010 a:visited,
.path-happy-birthday-carrie-2010 a:hover,
.path-happy-birthday-carrie-2010 a:active,
.path-happy-birthday-carrie-2010 a:focus {
  border: 0;
}

.path-happy-birthday-carrie-2010 a img,
.path-happy-birthday-carrie-2010 a:link img,
.path-happy-birthday-carrie-2010 a:visited img {
  border: 5px solid #333;
}
.path-happy-birthday-carrie-2010 a:hover img,
.path-happy-birthday-carrie-2010 a:active img,
.path-happy-birthday-carrie-2010 a:focus img {
  border: 5px solid #555;
}

.path-happy-birthday-carrie-2010 li {
  list-style: none none;
  margin-bottom: 30px;
}

.path-happy-birthday-carrie-2010 #page {
  text-align: center;
}
