
/* =========
   CSS RESET
   ========= */


/**
 * Inspiration:
 *
 * Eric Meyer's CSS Reset 2.0
 * http://meyerweb.com/eric/thoughts/2011/01/26/reset-v2-0/
 *
 * Richard Clark's Mod to Eric Meyer's CSS Reset
 * http://html5doctor.com/html-5-reset-stylesheet/
 *
 * YUI 3's CSS Reset
 * http://developer.yahoo.com/yui/3/cssreset
 *
 * Azbuka
 * http://www.vcarrer.com/2009/11/azbuka-css-typographical-base-rendering.html
 */


html,
body, section, nav, article, aside,
h1, h2, h3, h4, h5, h6,
hgroup, header, footer, address,
p, pre, blockquote, ol, ul, li, dl, dt, dd, div,
a, em, strong, cite, q, dfn, abbr, acronym, time,
code, var, samp, kbd, sub, sup,
mark, progress, meter,
ruby, rt, rp,
bdo, span,
ins, del,
figure, img, iframe, object,
table, caption, tbody, thead, tfoot, tr, td, th,
form, fieldset, legend, label, input, select, textarea {
  border:         0;
  font-size:      100%;
  font:           inherit;
  margin:         0;
  padding:        0;
  vertical-align: baseline;
}

/* *
applet
big,
s
small, strike, tt
b, u, i, center,
canvas, details, embed,
figcaption
menu, output, summary,
audio, video
/* */

/* HTML5 display-role reset for older browsers. */
section, nav, article, aside,
hgroup, header, footer, dialog,
figure, menu,
details, figcaption {
  display: block;
}

html {
  background: #FFF;
  color:      #000;

  /**
   * Make sure browsers use 100% font size.
   * http://www.communitymx.com/content/article.cfm?page=5&cid=FAF76
   */
  font-size: 100.01%;
}
body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size:    100%;
  font-weight:  normal;
}
address,
em, strong, cite, dfn, code, var,
caption, th {
  font-style:   normal;
  font-weight:  normal;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content:  "";
  content:  none;
}
li {
  list-style: none none;
}

dfn[title],
abbr[title],
acronym[title] {
  border-bottom:  1px dotted #000;
  font-variant:   normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
mark,
ins {
  background-color: #FF9;
  color:            #000;
}
mark {
  font-style:   italic;
  font-weight:  bold;
}

table {
  border-collapse:  collapse;
  border-spacing:   0;
}
caption,
th {
  text-align: left;
}

input,
select {
  vertical-align: middle;
}




/* =========
   IE STYLES
   ========= */

/* Enable resizing for IE. */
input,
textarea,
select {
  *font-size: 100%;
}

/* Legend doesn't inherit in IE. */
legend {
  color: #000;
}
