
// =====
// FORMS
// =====


form {}

fieldset {
//  border:   1px dotted $color-mu-green;
  margin:   0 0 $layout-border-width;
  padding:  $layout-border-width;

  :last-child {
    margin-bottom: 0;
  }
}
legend {
//  color:    $color-mu-green;
  padding:  0 ($layout-border-width / 2);
}

//
// Only give a pointer cursor for labels if they're linked to a form control.
//
// http://davidwalsh.name/css-enhancements-user-experience#comment-9327
//
label[for] {
  cursor: pointer;
}

button, a.button, input, select, textarea {
  background:   $color-white;
  border:       1px solid $color-steel-blue;
  font-family:  $font-candara;
  padding:      $layout-border-width / 2;

  &:disabled {
    background:   $color-gallery;
    border-color: $color-silver;
    color:        $color-silver;
  }
}
option:disabled {
  background:   $color-gallery;
  border-color: $color-silver;
  color:        $color-silver;
}
button, a.button, input.button, input[type="button"], input[type="reset"], input[type="submit"] {
  background:   $color-button-bg;
  border:       1px solid $color-button-border;
  color:        $color-button;
  font-weight:  normal;
  padding:      ($layout-border-width / 2) $layout-border-width;

  &:hover {
    color:            $color-button-hover;
    text-decoration:  underline;

    &:disabled {
      text-decoration: none;
    }
  }
  &:active {}
  &:disabled {
    background:   $color-gallery;
    border-color: $color-silver;
    color:        $color-silver;
    cursor:       default;
    text-shadow:  none;
  }
}
input[type="image"] {
  border-width: 1px;
}

/*input[type="checkbox"], input[type="radio"] {
  margin: 0 ($layout-border-width / 2) 0 0;
}


// a.button, button, input.button {
//   background-image: url(../images/buttons-ningbar.png) !important;        // Override.
// }


/* *


input, button, textarea {
  border:                 1px solid #444;

  // -moz-border-radius:     20px;
  // -webkit-border-radius:  20px;
  // border-radius:          20px;

  //
  // http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
  //
  display:                inline-block;
  zoom:                   1;
  *display:               inline;

  margin-bottom:          1em;
  padding:                0.5em;
}
input[type="text"] {
//  width: 12.25em;
}


//
// Style the search input element on WebKit browsers.
//
// http://anthonyshort.com.au/post/1016795820/styling-the-search-input-in-webkit
// http://css-tricks.com/webkit-html5-search-inputs/#comment-82432
//
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;

  //&::-webkit-search-cancel-button,
  &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
    display: none;
  }
}

input[type="tel"] {}
input[type="url"] {}
input[type="email"] {}
input[type="password"] {}
input[type="datetime"] {}
input[type="date"] {}
input[type="month"] {}
input[type="week"] {}
input[type="time"] {}
input[type="datetime-local"] {}
input[type="number"] {}
input[type="range"] {}
input[type="color"] {}

input[type="checkbox"] {
  margin: 0.25em;
}
input[type="radio"] {
  margin: 0.25em;
}
input[type="file"] {}

//
// Make button elements more button-like by making their text unselectable.
//
input[type="submit"], input[type="image"], input[type="reset"], input[type="button"], button, .button {
  -moz-user-select:     none;
  -webkit-user-select:  none;
  user-select:          none;

  &:hover {}
  &:active {}
  &:disabled {}
}

// Change button focus outlines in Firefox.
button {
  &::-moz-focus-inner {}
}
input {
  &[type="file"] > &[type="button"], &[type="submit"], &[type="image"], &[type="reset"], &[type="button"] {
    &::-moz-focus-inner {}
  }
}

select {
  border:         1px solid #444;
  margin-bottom:  1em;
  padding:        0.25em;

  &:disabled {}
}

datalist {}

optgroup {}
option {}
textarea {
  resize: vertical;
}

keygen {}
output {}

/* */
