
// ==========
// SITE LINKS
// ==========


//
// Pseudo-classes, especially on anchors, are ordered in a particular way.
//
// http://meyerweb.com/eric/css/link-specificity.html
//

a {
  &, &:link, &:visited {
    color:            $color-link;
    font-weight:      normal;
    text-decoration:  none;
  }
  &:hover, &:active, &:focus {
    border-bottom:    1px solid $color-link-hover;
    color:            $color-link-hover;
    font-weight:      normal;
    text-decoration:  none;
  }
}

a.clickTrack {
  border-bottom:  1px solid $color-white;
  color:          $color-white;
}
