// -----------------------------------------------------------------------------
//  The "lobotomized owl selector".
//  http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// -----------------------------------------------------------------------------

* + *
  margin-top 1.5em


// -----------------------------------------------------------------------------
//  `box-sizing` best practice.
//  http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/#comment-1583754
// -----------------------------------------------------------------------------

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

img
  box-sizing content-box


// -----------------------------------------------------------------------------


html
  background-color #1A1A1A
  background-image url("images/black_lozenge.png")

body
  background-color #7B0039
  background-image url("images/climpek__derived.png")
  color            #FFF
  padding          2em


// img, embed, iframe, object
//   max-width 100%


// -----------------------------------------------------------------------------
//  Pseudo-Selectors
// -----------------------------------------------------------------------------

// :focus


// -----------------------------------------------------------------------------
//  Pseudo-Elements
// -----------------------------------------------------------------------------

// ::-moz-selection
//   background-color #F7F7E7

// ::selection
//   background-color #F7F7E7
