//
// Color naming source:
// http://chir.ag/projects/name-that-color/
//

// http://www.colourlovers.com/palette/694737/Thought_Provoking
// http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
// http://www.colourlovers.com/palette/77121/Good_Friends
// http://www.colourlovers.com/palette/443995/i_demand_a_pancake
// http://www.colourlovers.com/palette/728391/Dig_My_Olive_Branch

// Base palette.

color_black         = #000
color_black-russian = #002
color_denim         = rgb(25, 112, 179)
color_flush-orange  = #FF7B00
color_gallery       = #EEE
color_green         = #0C0
color_matterhorn    = #594247
color_merlot        = rgb(138, 24, 33)
color_plantation    = rgb(41, 94, 82)
color_silver        = #BBB
color_stark-white   = #E8D7C4
color_steel-blue    = #4F88BA
color_taupe-gray    = #B4B298
color_tundora       = #444
color_victoria      = rgb(92, 57, 122)
color_white         = #FFF

color_stark_white_darkened   = darken(color_stark_white, 40%)
color_stark_white_darkened_2 = darken(color_stark_white, 20%)

// Color usage.

color_body          = color_tundora
color_body_bg       = color_stark-white
color_link          = color_stark-white-darkened
color_link_hover    = color_stark-white-darkened-2
color_nav           = mix(color_white, color_matterhorn, 20%)
color_nav_hover     = lighten(color_nav, 10%)
color_nav_active_bg = mix(color_white, color_nav, 90%)
color_button        = mix(color_body, color_steel_blue, 40%)
color_button_bg     = mix(color_white, color_steel_blue, 80%)
color_button_border = color_steel-blue
color_button_hover  = color_steel-blue
color_table_border  = color_plantation
color_table_heading = color_victoria
color_selection     = color_white
color_selection_bg  = #FF69B4
