// -----------------------------------------------------------------------------
//  `box-sizing` best practice.
//  http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/#comment-1583754
// -----------------------------------------------------------------------------

html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

img
  box-sizing content-box


// -----------------------------------------------------------------------------
//  The "lobotomized owl selector".
//  http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// -----------------------------------------------------------------------------

// * + *
//   margin-top 1.5em
