dl, menu, ol, ul
  margin 0 0 1em 0

ol, ul, dl
  font-size     100%
  line-height   1.4
  margin-bottom 1em
  padding-left  2.0225em
  ol, ul, dl
    margin-bottom 1em

ol li
  list-style decimal outside none
  ol li
    list-style-type lower-roman

ul li
  list-style square outside none
  ul li
    list-style-type disc

// li, dt, dd
//   font-size 14px
//   font-size 1.4em

dt
  font-weight bold

dd
  margin-left 0
