extends ../_layouts/page.jade

block headTitle
  | Poems by Ron Martinez

block content
  h1.exhibit-title Poems
  h2.author by Ron Martinez
  .author-email
    span.spamspan <span class="u">ron</span> [at] <span class="d">ramartin [dot] net</span>
  nav.poems
    .poems1
      h2 The Enduring Light
      ol
        li: a(href="poetry/your-lasting-days") Your Lasting Days
        li: a(href="poetry/thoughts-of-a-wanderer") Thoughts of a Wanderer
        li: a(href="poetry/of-heaven-she-spoke") Of Heaven She Spoke
        li: a(href="poetry/dots-in-the-sky") Dots in the Sky
        li: a(href="poetry/as-it-is") As It Is
        li: a(href="poetry/been-a-while") Been A While
        li: a(href="poetry/the-mirror") The Mirror
        li: a(href="poetry/poem-of-the-dove-ceremony") Poem of the Dove Ceremony
        li: a(href="poetry/comfort-of-friends") Comfort of Friends
        li: a(href="poetry/the-rainstorm") The Rainstorm
        li: a(href="poetry/all-the-world-remiss") All the World Remiss
        li: a(href="poetry/embrace") Embrace
    .poems2
      h2 Struggles of the Dark
      ol
        li: a(href="poetry/nightingale") Nightingale
        li: a(href="poetry/avenging-angel") Avenging Angel
        li: a(href="poetry/a-voice-a-mic") A Voice, A Mic
        li: a(href="poetry/even-the-best-memories") Even the Best Memories
        li: a(href="poetry/fates-reprise") Fate’s Reprise
        li: a(href="poetry/transparently") Transparently
        li: a(href="poetry/bitter-rose") Bitter Rose
        li: a(href="poetry/after-that-moment") After That Moment
        li: a(href="poetry/my-friend-the-facade") My Friend the Facade
        li: a(href="poetry/requiem") Requiem
        li: a(href="poetry/simple-regret") Simple Regret
        li: a(href="poetry/voice") Voice
